/**
	Extracted from events-pro/events-list skeleton styles
**/
.tribe-events-widget {
	
  .tribe-events-widget-common__event-datetime-recurring-link {
		margin-left: var(--spacer-0);
	}

	.tribe-events-widget-common__event-datetime-recurring-icon {
		display: inline-block;
	}

	.tribe-events-widget-common__cost,
	.tribe-events-widget-common__venue,
	.tribe-events-widget-common__organizer {
		margin-top: var(--spacer-1);
	}

	.tribe-events-widget-common__venue-address {
		margin-top: var(--spacer-1);
	}

	.tribe-events-widget-common__organizer-meta {
		margin-top: var(--spacer-0);
	}
	
}