/**
	Extracted from events-pro/events-list full styles
**/
.tribe-events-widget {

	.tribe-events-widget-common__event-datetime-recurring-link {

		&:hover,
		&:focus {

			.tribe-events-widget-common__event-datetime-recurring-icon-svg path {
				fill: currentColor;
				stroke: currentColor;
			}
		}
	}

	.tribe-events-widget-common__event-venue-address,
	.tribe-events-widget-common__event-organizer-contact {
		font-style: normal;
	}


	/* -------------------------------------------------------------------------
	 * Theme Overrides - Twenty Twenty
	 * ------------------------------------------------------------------------- */
	.tribe-theme-twentytwenty &,
	.entry-content & {
		.tribe-events-widget-common__event-title {
			margin-bottom: 0px;
			margin-top: 0px;
		}
	}
}
